<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="lib/layui-v2.5.5/css/layui.css" media="all" th:href="@{/layuistate/lib/layui-v2.5.5/css/layui.css}">
    <link rel="stylesheet" href="../css/public.css" th:href="@{/layuistate/css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">


    <div class="layui-form-item">
        <label class="layui-form-label">用户姓名</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="userName" name="userName" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户密码</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="userPass" name="userPass" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">身份证号</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="userCardId" name="userCardId" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">真实姓名</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="userRealname" name="userRealname" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户类型</label>
        <div class="layui-input-inline">
            <select  class="form-control" name="userType" id="userType" onblur="">
                <option value="3">会员</option>
                <option value="1">用户</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户电话</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="userPhone" name="userPhone" >
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">提交</button>
        </div>
    </div>
</div>
<script src="lib/layui-v2.5.5/layui.js" th:src="@{/layuistate/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,

            $ = layui.$;
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            if($('#userName').val()!=null&&$('#userName').val()!=""
                &&$('#userPass').val()!=null &&$('#userPass').val()!=""
                &&$('#userCardId').val()!=null &&$('#userCardId').val()!=""
                &&$('#userType').val()!=null &&$('#userType').val()!=""
                &&$('#userPhone').val()!=null &&$('#userPhone').val()!=""
                &&$('#userRealname').val()!=null &&$('#userRealname').val()!=""){
                $.ajax({
                    url: '/userApi/addUser',
                    type: "POST",
                    data:{
                        userName:$('#userName').val(),
                        userPass:$('#userPass').val(),
                        userCardId:$('#userCardId').val(),
                        userRealname:$('#userRealname').val(),
                        userType:$('#userType').val(),
                        userPhone:$('#userPhone').val()
                    },
                    success:function () {
                        layer.msg("添加成功");
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(iframeIndex);
                        window.parent.location.reload();
                    }
                });
            }else{
                layer.msg("请先填充数据再进行提交");
            }
        });

    });
    layui.use('laydate', function() {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#backup_date'
            ,type: 'datetime'

        });

    })

</script>
</body>
</html>