<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>修改</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="lib/layui-v2.5.5/css/layui.css" media="all" th:href="@{/layuistate/lib/layui-v2.5.5/css/layui.css}">
    <link rel="stylesheet" href="../css/public.css" th:href="@{/layuistate/css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <input type="text" class="layui-input" id="houseId" name="houseId" th:value="${houseList.houseId}" style="display: none"/>
    <div class="layui-form-item">
        <label class="layui-form-label">房间编号</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="houseNumber" name="houseNumber" th:value="${houseList.houseNumber}" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">房间说明</label>
        <div class="layui-input-block">
            <textarea  class="layui-textarea" id="houseExplanation" name="houseExplanation"  th:text="${houseList.houseExplanation}"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">房间价钱</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" id="houseMoney" name="houseMoney" th:value="${houseList.houseMoney}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">会员价钱</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" id="houseMemberMoney" name="houseMemberMoney" th:value="${houseList.houseMemberMoney}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">房间类型</label>
        <div class="layui-input-block">
            <select  class="form-control" name="houseType" id="houseType" onblur="">

            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">修改</button>
        </div>
    </div>
</div>
<script src="js/jquery.min.js" th:src="@{/layuistate/lib/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
<script src="lib/layui-v2.5.5/layui.js" th:src="@{/layuistate/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,

            $ = layui.$;
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            if($('#houseNumber').val()!=null&&$('#houseNumber').val()!=""
                &&$('#houseExplanation').val()!=null &&$('#houseExplanation').val()!=""
                &&$('#houseMoney').val()!=null &&$('#houseMoney').val()!=""
                &&$('#houseMemberMoney').val()!=null &&$('#houseMemberMoney').val()!=""){
                $.ajax({
                    url: '/houseApi/updateHouseList',
                    type: "POST",
                    data:{
                        houseId:$('#houseId').val(),
                        houseNumber:$('#houseNumber').val(),
                        houseExplanation:$('#houseExplanation').text(),
                        houseMoney:$('#houseMoney').val(),
                        houseMemberMoney:$('#houseMemberMoney').val(),
                        houseType:$('#houseType').val()
                    },
                    success:function () {
                        layer.msg("编辑成功");
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(iframeIndex);
                        window.parent.location.reload();
                    }
                });


            }else{
                layer.msg("请先填充数据再进行提交");
            }


            // var index = layer.alert(JSON.stringify(data.field), {
            //     title: '最终的提交信息'
            // }, function () {
            // alert($('#backup_path').val());
            // 关闭弹出层
            // layer.close(index);
            // var iframeIndex = parent.layer.getFrameIndex(window.name);
            // parent.layer.close(iframeIndex);
            // });

        });

    });
    layui.use('laydate', function() {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#backup_date'
            ,type: 'datetime'

        });

    })
    getHouseType();
    function getHouseType(){
        $.ajax({
            //请求方式
            type : "GET",
            //请求的媒体类型
            //contentType: "application/json;charset=UTF-8",
            //请求地址
            url : "/houseLayoutApi/queryAllHouseLayout",
            //数据，json字符串
            //data : {action:"get"},
            dataType:"json",
            //请求成功
            success : function(data) {
                if (data != null || data != "") {
                    $('#houseType').empty();
                    // console.log(data.data[0]);
                    var arr = [];
                    for (var item in data.dataArray) {
                        arr.push(data.dataArray[item]);
                    }
                    for (var i = 0; i < arr.length; i++) {
                        var div = $('<option  value="' +
                            arr[i].houseLayoutId + '">' +
                            arr[i].houseLayoutName + '</option>');
                        $("#houseType").append(div);
                    }
                } else {
                    alert("无信息");
                }
            },
            //请求失败，包含具体的错误信息
            error : function(e){
                console.log(e.status);
                console.log(e.responseText);
            }
        });
    }

</script>
</body>
</html>