<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width" />
    <title>酒店管理系统</title>
    <link rel="stylesheet" href="../lib/layui-v2.5.5/css/layui.css" th:href="@{/layuistate/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" href="../css/public.css" th:href="@{/layuistate/css/index_style.css}"media="all">
    <link rel="stylesheet" href="../css/blog.css" th:href="@{/layuistate/css/animate.min.css}"media="all">
</head>
<body>
<!--    <div id="menu" class="hover_animation menu_open" data-mark="false">-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--    </div>-->
<!--    <div id="navgation" class="navgation navgation_close">-->
<!--        <ul class="point">-->
<!--            <li><a href="#">首页</a></li>-->
<!--            <li><a href="message.html">登录</a></li>-->
<!--        </ul>-->
<!--        <div class="logo"><a>Mr.liu</a></div>-->
<!--    </div>-->
<div class="section" id="section1">
    <div class="fp-tablecell">
        <div class="page1">
            <div class="nav wow zoomIn" data-wow-duration="2s">
                <h1>酒店管理系统</h1>
                <p>世界那么大，我想去看看</p>
                <a class="layui-btn layui-btn-normal" style="margin-top: 20px" th:href="@{/page/houseIndex}">入住酒店</a>
            </div>
            <a class="next wow fadeInUp" data-wow-duration="2s" id="next"></a>
        </div>
    </div>
</div>

<footer class="footer wow fadeInUp" id="contact">
    <div class="footer-top">
        <div class="container">
            <div class="layui-row">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                    <div class="single-widget about">
                        <div class="footer-logo">
                            <h2>酒店管理系统</h2>
                        </div>
                        <p>世界那么大，我想去看看</p>
                        <div class="button">
                            <a href="#" class="btn layui-btn layui-btn-normal">About Me</a>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">

                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
                    <div class="single-widget contact">
                        <h2>联系我</h2>
                        <ul class="list">
                            <li><i class="fa fa-map"></i>地址:深圳市南山区</li>
                            <li><i class="fa fa-qq"></i>QQ: 1435469178 </li>
                            <li><i class="fa fa-envelope"></i>邮箱: 1435469178@qq.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="layui-row">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 text-center">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="../lib/jquery-3.4.1/jquery-3.4.1.min.js" th:src="@{/layuistate/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script src="lib/layui-v2.5.5/layui.js" th:src="@{/layuistate/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>

</body>
</html>